video {
  width: 60vw;
  margin-bottom: 5em;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5em;
}

.tech-subs {
  position: relative;
}

#canvas {
  position: absolute;
  bottom: 0;
  right: -12em;
  transform: scale(0.3);
}
